.body{
    height: 100vh;
    display:flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 0;
}

.header-links{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}

.footer{
    text-align: center;
    margin-top: auto;
    background-color: #E5E7EB;
}

.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 400px;
    background-color: #1F2937;
  }

  .top-left-container{
      display: flex;
      flex-direction: column;
      gap: 8px;
  }

  .top-container-title-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 350px;
  }

  .top-container-content-text{
    color: #E5E7EB;
    font-size: 18px;
    width: 400px;
  }

  .top-right-container{
    width: 400px;
    height: 200px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sign-up-button{
    padding: 4px 24px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #E5E7EB;
  }

 