.body{
    height: 100vh;
    display:flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 0;
}

.header-links{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}

.footer{
    text-align: center;
    margin-top: auto;
    background-color: #E5E7EB;
}

.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 300px;
    background-color: #1F2937;
  }

  .top-left-container{
      display: flex;
      flex-direction: column;
  }

 