body{
    display:flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 0;
}

.header-links{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}

.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 400px;
    background-color: #1F2937;
  }

.top-left-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 16px;
}

.top-container-title-text{
font-size: 48px;
font-weight: bolder;
color: #F9FAF8;
width: 350px;
}

.top-container-content-text{
color: #E5E7EB;
font-size: 18px;
width: 400px;
}

.top-right-container{
width: 400px;
height: 200px;
background-color: darkgray;
display: flex;
justify-content: center;
align-items: center;
margin: 0 16px;
}

.sign-up-button{
padding: 4px 24px;
border-radius: 8px;
background-color: #3882F6;
color: #E5E7EB;
border-color: #E5E7EB;
}

.middle-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    gap: 32px;
}

.middle-container-boxes{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.middle-container-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.middle-container-box-image{
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 12px;
}

.middle-container-box-content{ 
    width: 145px;
 }

 .middle-container-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
 }

 .quote-container{
    display: flex;
    height: 350px;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
 }
 
 .quote-box{
     display: flex;
     flex-direction: column;
 }

 .quote-text{
    width: 750px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
 }

 .quote-author{
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 16px;
}

.bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.bottom-container-box{
    background-color: #3882F6;
    padding: 32px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
    border-radius: 8px;
}

.bottom-container-left-box{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.bottom-container-left-title,
.bottom-container-left-content{
    color: #E5E7EB;
}

.bottom-container-left-title{
    font-weight: bold;
    font-size: 24px;
}

.bottom-container-left-content{
    font-size: 16px;
}

 .footer{
    text-align: center;
    margin-top: auto;
    background-color: #E5E7EB;
}

 .footer-text{
    padding: 32px;
    background-color: #1F2937;
    color: #E5E7EB;
 }
